apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    external-dns.alpha.kubernetes.io/hostname: argocd.{{ cluster_domain }}
spec:
  rules:
  - host: argocd.{{ cluster_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 443
  tls:
  - hosts:
    - argocd.{{ cluster_domain }}
    secretName: default-kwamlng-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-ingress
  namespace: jenkins
  annotations:
    external-dns.alpha.kubernetes.io/hostname: jenkins.{{ cluster_domain }}
spec:
  rules:
  - host: jenkins.{{ cluster_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins
            port:
              number: 8080
  tls:
  - hosts:
    - jenkins.{{ cluster_domain }}
    secretName: default-kwamlng-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak-ingress
  namespace: keycloak
  annotations:
    external-dns.alpha.kubernetes.io/hostname: keycloak.{{ cluster_domain }}
spec:
  rules:
  - host: keycloak.{{ cluster_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: keycloak-service
            port:
              number: 8080
  tls:
  - hosts:
    - keycloak.{{ cluster_domain }}
    secretName: default-kwamlng-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: postgresql-ingress
  namespace: postgresql
  annotations:
    external-dns.alpha.kubernetes.io/hostname: postgresql.{{ cluster_domain }}
spec:
  rules:
  - host: postgresql.{{ cluster_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: postgresql
            port:
              number: 5432
  tls:
  - hosts:
    - postgresql.{{ cluster_domain }}
    secretName: default-kwamlng-tls