apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-ingress
  namespace: jenkins
  annotations:
    cert-manager.io/cluster-issuer: ca-kwamlng-prod
    external-dns.alpha.kubernetes.io/hostname: jenkins.kwamlng.dev
spec:
  rules:
  - host: jenkins.kwamlng.dev
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins
            port:
              number: 8080
  tls:
  - hosts:
    - jenkins.kwamlng.dev
    secretName: jenkins-tls