apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-ingress
  namespace: jenkins
  annotations:
    cert-manager.io/cluster-issuer: ca-kwamlng-prod
    external-dns.alpha.kubernetes.io/hostname: jenkins.{{ cluster_domain }}
spec:
  rules:
  - host: jenkins.{{ cluster_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins
            port:
              number: 8080
  tls:
  - hosts:
    - jenkins.{{ cluster_domain }}
    secretName: jenkins-tls