apiVersion: v1
kind: Namespace
metadata:
  name: keycloak
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      volumes:
        - name: tls
          secret:
            secretName: "keycloak-tls"
        - name: providers
          emptyDir:
            sizeLimit: 500Mi
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:21.1.2
        tty: true
        stdin: true
        args: ["{{ keyclaok_args }}"]
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        - containerPort: 443
        readinessProbe:
          httpGet:
            path: /realms/master
            port: 8080 
        env:
        - name: DB_VENDOR
          value: postgres
        - name: DB_ADDR
          value: postgresql.postgresql.svc.cluster.local
        - name: DB_DATABASE
          value: keycloak
        - name: DB_USER
          value: {{ keycloak_db_user }}
        - name: DB_PASSWORD
          value: {{ keycloak_db_password }}
        - name: KEYCLOAK_USER
          value: {{ keycloak_user }}
        - name: KEYCLOAK_PASSWORD
          value: {{ keycloak_password }}
        - name: KC_HOSTNAME_STRICT
          value: 'false'
        - name: KC_HOSTNAME_STRICT_HTTPS
          value: 'false'
        - name: PROXY_ADDRESS_FORWARDING
          value: 'true'
        - name: KC_PROXY
          value: 'edge'
        - name: KC_HTTPS_PORT
          value: 443
        - name: KC_HTTPS_CERTIFICATE_FILE
          value: /etc/nginx/ssl/tls.crt
        - name: KC_HTTPS_CERTIFICATE_KEY_FILE
          value: /etc/nginx/ssl/tls.key
        - name: KC_HTTP_PORT
          value: 8080
        - name: KC_FEATURES
          value: {{ keyclaok_features }}
      initContainers:
        - name: download-sms-provider-libraries
          image: alpine
          command: ["/bin/sh","-c"]
          args:
            - |
              cd /opt/keycloak/providers/ &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-phone-provider.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-phone-provider.resources.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-aliyun.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-aws-sns.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-cloopen.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-dummy.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-tencent.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-totalvoice.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-twilio.jar &&
              wget https://github.com/cooperlyt/keycloak-phone-provider/releases/download/21.0.2_phone-2.3.3/keycloak-sms-provider-yunxin.jar &&
              ls -lrth
          volumeMounts:
            - mountPath: /opt/keycloak/providers/
              name: providers
            - name: tls
              mountPath: /etc/nginx/ssl/
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
  namespace: keycloak
  labels:
    app: keycloak
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: keycloak
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: keycloak-ingress
  namespace: keycloak
  annotations:
    cert-manager.io/cluster-issuer: ca-kwamlng-prod
    external-dns.alpha.kubernetes.io/hostname: keycloak.kwamlng.dev
spec:
  rules:
  - host: keycloak.kwamlng.dev
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: keycloak-service
            port:
              number: 443
  tls:
  - hosts:
    - keycloak.kwamlng.dev
    secretName: keycloak-tls